<!doctype html>
<html>
    {% block content %}
    {% load static %}
    <head>
        <title>VisionApp</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="module" src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="contentarea">
            <div class="Input">
                <form method="POST" action="{% url 'image_upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                     <video id="video" autoplay ></video>                               
            <canvas id="canvas"></canvas>                                
                     
            <input type="hidden" name="photo" id="photo" value=""/>
            <button id="startbutton1" class="btn btn-outline-secondary btn-sm">Tirar Foto</button>
            <button id="submit" type="submit">Enviar Foto</button>
                </form>
            </div>
        </div>
    </body>
    {% endblock %}
</html>